# python base

In [1]:
x=[4,5,34,3,7]
[x,x,x]

[[4, 5, 34, 3, 7], [4, 5, 34, 3, 7], [4, 5, 34, 3, 7]]

In [2]:
32+40

72

In [3]:
"32"+"40"

'3240'

In [4]:
type(6.2)

float

In [5]:
type("qwerty")

str

In [6]:
type(2)

int

In [7]:
c=12
c==13

False

In [8]:
c=12
c==12

True

In [9]:
type(c)

int

# tuples and list

In [10]:
score=[12,34,65,38,12,98]
sel_score=40
score[3]>sel_score

False

In [11]:
range(0,10)

range(0, 10)

In [12]:
if score[1]<sel_score:
    print("not selected to the team")

not selected to the team

In [13]:
for x in range (10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [14]:
for x in range(len(score)):
    print(score[x])

12
34
65
38
12
98

In [15]:
for score in score:
    print(score)  
    if score<sel_score:
        print("not selected to the team")
    else: 
        print("selected to the team")
    print("***************************")
    
#else if
#elif

12
not selected to the team
***************************
34
not selected to the team
***************************
65
selected to the team
***************************
38
not selected to the team
***************************
12
not selected to the team
***************************
98
selected to the team
***************************

In [16]:
x = range(1, 62, 4)
for n in x:
    print(n)
#start = 1, stop = 62, step = 4

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61

In [17]:
def subtract(a, b):
    return a-b

In [18]:
subtract(10,4)

6

In [19]:
def mul(a,b):
    return a*b
mul(12,5)

60

In [20]:
def mod(a,b):
    return a%b
mul(40,3)

120

# Python for DS

In [25]:
import pandas as pd
import numpy as np

In [28]:
petrolcost=[112,112,113,114,115,116]
petrolcost

[112, 112, 113, 114, 115, 116]

In [29]:
petrolcost_series = pd.Series(petrolcost)

In [30]:
petrolcost_series

0    112
1    112
2    113
3    114
4    115
5    116
dtype: int64

In [31]:
petrolcost_series.index

RangeIndex(start=0, stop=6, step=1)

In [32]:
petrolcost_series.values

array([112, 112, 113, 114, 115, 116], dtype=int64)

In [33]:
petrolcost_series[1:3]

1    112
2    113
dtype: int64

In [34]:
petrolcost_series[2:]

2    113
3    114
4    115
5    116
dtype: int64

In [35]:
petrolcost_series[:3]

0    112
1    112
2    113
dtype: int64

In [36]:
petrolcost_series[4]=None
petrolcost_series

0    112.0
1    112.0
2    113.0
3    114.0
4      NaN
5    116.0
dtype: float64

In [37]:
petrolcost_series[::]

0    112.0
1    112.0
2    113.0
3    114.0
4      NaN
5    116.0
dtype: float64

In [38]:
petrolcost_series[:]

0    112.0
1    112.0
2    113.0
3    114.0
4      NaN
5    116.0
dtype: float64

In [40]:
petrolcost_series.value_counts()

112.0    2
116.0    1
114.0    1
113.0    1
dtype: int64

In [46]:
cost_df = pd.DataFrame(([petrolcost, petrolcost])).T

In [47]:
cost_df

     0    1
0  112  112
1  112  112
2  113  113
3  114  114
4  115  115
5  116  116

In [48]:
cost_df.columns = ['pcost1', 'pcost2']

In [49]:
cost_df

   pcost1  pcost2
0     112     112
1     112     112
2     113     113
3     114     114
4     115     115
5     116     116

In [118]:
df = pd.read_csv("Toy sales data.csv")

In [119]:
df

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,1,2017-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99,1.0
1,2,2017-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99,6.0
2,3,2017-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99,50.0
3,4,2017-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99,28.0
4,5,2017-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829258,2018-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99,67.0
829258,829259,2018-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99,6.0
829259,829260,2018-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99,17.0
829260,829261,2018-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99,2.0
829261,829262,2018-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99,65.0

In [57]:
df.head()

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,1,2017-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99,1.0
1,2,2017-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99,6.0
2,3,2017-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99,50.0
3,4,2017-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99,28.0
4,5,2017-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99,117.0

In [58]:
df.tail()

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
829257,829258,2018-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99,67.0
829258,829259,2018-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99,6.0
829259,829260,2018-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99,17.0
829260,829261,2018-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99,2.0
829261,829262,2018-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99,65.0

In [59]:
df['Store_Location']

0            Downtown
1            Downtown
2          Commercial
3          Commercial
4         Residential
             ...
829257       Downtown
829258       Downtown
829259     Commercial
829260       Downtown
829261    Residential
Name: Store_Location, Length: 829262, dtype: object

In [60]:
df['Store_Location'].value_counts()

Downtown       480224
Commercial     184705
Residential     95876
Airport         68457
Name: Store_Location, dtype: int64

In [62]:
df.shape

(829262, 14)

In [65]:
df.isna().sum()

Sale_ID                0
Date                   0
Store_ID               0
Product_ID             0
Units                  0
Store_Name             0
Store_City             0
Store_Location         0
Store_Open_Date        0
Product_Name           0
Product_Category       0
Product_Cost           0
Product_Price          0
Stock_On_Hand       6232
dtype: int64

In [66]:
df.fillna

<bound method DataFrame.fillna of         Sale_ID        Date  Store_ID  Product_ID  Units  \
0             1  2017-01-01        24           4      1
1             2  2017-01-01        28           1      1
2             3  2017-01-01         6           8      1
3             4  2017-01-01        48           7      1
4             5  2017-01-01        44          18      1
...         ...         ...       ...         ...    ...
829257   829258  2018-09-30        24          19      1
829258   829259  2018-09-30        16          35      1
829259   829260  2018-09-30        22          19      1
829260   829261  2018-09-30        13           2      2
829261   829262  2018-09-30        32           6      1

                          Store_Name       Store_City Store_Location  \
0        Maven Toys Aguascalientes 1   Aguascalientes       Downtown
1                Maven Toys Puebla 2           Puebla       Downtown
2              Maven Toys Mexicali 1         Mexicali     Commercial
3              Maven Toys Saltillo 2         Saltillo     Commercial
4                Maven Toys Puebla 3           Puebla    Residential
...                              ...              ...            ...
829257   Maven Toys Aguascalientes 1   Aguascalientes       Downtown
829258  Maven Toys San Luis Potosi 1  San Luis Potosi       Downtown
829259       Maven Toys Guanajuato 2       Guanajuato     Commercial
829260         Maven Toys Mexicali 2         Mexicali       Downtown
829261       Maven Toys Hermosillo 1       Hermosillo    Residential

       Store_Open_Date      Product_Name   Product_Category Product_Cost  \
0           2010-07-31  Chutes & Ladders              Games       $9.99
1           2011-04-01     Action Figure               Toys       $9.99
2           2003-12-13     Deck Of Cards              Games       $3.99
3           2016-03-23          Dart Gun  Sports & Outdoors      $11.99
4           2014-12-27       Lego Bricks               Toys      $34.99
...                ...               ...                ...          ...
829257      2010-07-31        Magic Sand       Art & Crafts      $13.99
829258      2007-05-19     Uno Card Game              Games       $3.99
829259      2010-03-29        Magic Sand       Art & Crafts      $13.99
829260      2006-08-30    Animal Figures               Toys       $9.99
829261      2012-08-31         Colorbuds        Electronics       $6.99

       Product_Price  Stock_On_Hand
0            $12.99             1.0
1            $15.99             6.0
2             $6.99            50.0
3            $15.99            28.0
4            $39.99           117.0
...              ...            ...
829257       $15.99            67.0
829258        $7.99             6.0
829259       $15.99            17.0
829260       $12.99             2.0
829261       $14.99            65.0

[829262 rows x 14 columns]>

In [67]:
df.columns

Index(['Sale_ID', 'Date', 'Store_ID', 'Product_ID', 'Units', 'Store_Name',
       'Store_City', 'Store_Location', 'Store_Open_Date', 'Product_Name',
       'Product_Category', 'Product_Cost', 'Product_Price', 'Stock_On_Hand'],
      dtype='object')

In [78]:
collist=['Date','Store_ID']

In [79]:
df[collist]

              Date  Store_ID
0       2017-01-01        24
1       2017-01-01        28
2       2017-01-01         6
3       2017-01-01        48
4       2017-01-01        44
...            ...       ...
829257  2018-09-30        24
829258  2018-09-30        16
829259  2018-09-30        22
829260  2018-09-30        13
829261  2018-09-30        32

[829262 rows x 2 columns]

In [80]:
#DICTIONARIES

In [81]:
petrolcost

[112, 112, 113, 114, 115, 116]

In [82]:
len(petrolcost)

6

In [100]:
indexname = list('ABCDEF')

In [101]:
indexname

['A', 'B', 'C', 'D', 'E', 'F']

In [102]:
s_dict = {'indexno':indexname, 'pcost':petrolcost}
s_dict

{'indexno': ['A', 'B', 'C', 'D', 'E', 'F'],
 'pcost': [112, 112, 113, 114, 115, 116]}

In [103]:
df2 = pd.DataFrame(s_dict)

In [104]:
df2

  indexno  pcost
0       A    112
1       B    112
2       C    113
3       D    114
4       E    115
5       F    116

In [106]:
df.Store_Location.value_counts()

Downtown       480224
Commercial     184705
Residential     95876
Airport         68457
Name: Store_Location, dtype: int64

In [111]:
df[df['Store_ID']>3]

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,1,2017-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99,1.0
1,2,2017-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99,6.0
2,3,2017-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99,50.0
3,4,2017-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99,28.0
4,5,2017-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829258,2018-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99,67.0
829258,829259,2018-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99,6.0
829259,829260,2018-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99,17.0
829260,829261,2018-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99,2.0
829261,829262,2018-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99,65.0

In [112]:
df.shape

(829262, 14)

In [114]:
df[(df['Store_ID']>3)&(df['Store_ID']<5)]

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
24,25,2017-01-01,4,20,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Mini Basketball Hoop,Sports & Outdoors,$8.99,$24.99,13.0
31,32,2017-01-01,4,20,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Mini Basketball Hoop,Sports & Outdoors,$8.99,$24.99,13.0
136,137,2017-01-01,4,9,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Dino Egg,Toys,$9.99,$10.99,27.0
141,142,2017-01-01,4,9,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Dino Egg,Toys,$9.99,$10.99,27.0
193,194,2017-01-01,4,20,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Mini Basketball Hoop,Sports & Outdoors,$8.99,$24.99,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829110,829111,2018-09-30,4,24,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Nerf Gun,Sports & Outdoors,$14.99,$19.99,20.0
829131,829132,2018-09-30,4,28,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Playfoam,Art & Crafts,$3.99,$10.99,6.0
829152,829153,2018-09-30,4,24,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Nerf Gun,Sports & Outdoors,$14.99,$19.99,20.0
829167,829168,2018-09-30,4,25,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,PlayDoh Can,Art & Crafts,$1.99,$2.99,18.0
829168,829169,2018-09-30,4,28,1,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01,Playfoam,Art & Crafts,$3.99,$10.99,6.0

In [115]:
df.corr()

                Sale_ID  Store_ID  Product_ID     Units  Stock_On_Hand
Sale_ID        1.000000  0.004574    0.041613  0.005462       0.010554
Store_ID       0.004574  1.000000    0.018282  0.011295       0.084071
Product_ID     0.041613  0.018282    1.000000 -0.018422       0.018599
Units          0.005462  0.011295   -0.018422  1.000000       0.069369
Stock_On_Hand  0.010554  0.084071    0.018599  0.069369       1.000000

In [116]:
v1=[1,4,2,5,6,2]
v2=[3,4,2,2,5,6]
v3=v1+v2
v3

[1, 4, 2, 5, 6, 2, 3, 4, 2, 2, 5, 6]

In [117]:
df.describe

<bound method NDFrame.describe of         Sale_ID        Date  Store_ID  Product_ID  Units  \
0             1  2017-01-01        24           4      1
1             2  2017-01-01        28           1      1
2             3  2017-01-01         6           8      1
3             4  2017-01-01        48           7      1
4             5  2017-01-01        44          18      1
...         ...         ...       ...         ...    ...
829257   829258  2018-09-30        24          19      1
829258   829259  2018-09-30        16          35      1
829259   829260  2018-09-30        22          19      1
829260   829261  2018-09-30        13           2      2
829261   829262  2018-09-30        32           6      1

                          Store_Name       Store_City Store_Location  \
0        Maven Toys Aguascalientes 1   Aguascalientes       Downtown
1                Maven Toys Puebla 2           Puebla       Downtown
2              Maven Toys Mexicali 1         Mexicali     Commercial
3              Maven Toys Saltillo 2         Saltillo     Commercial
4                Maven Toys Puebla 3           Puebla    Residential
...                              ...              ...            ...
829257   Maven Toys Aguascalientes 1   Aguascalientes       Downtown
829258  Maven Toys San Luis Potosi 1  San Luis Potosi       Downtown
829259       Maven Toys Guanajuato 2       Guanajuato     Commercial
829260         Maven Toys Mexicali 2         Mexicali       Downtown
829261       Maven Toys Hermosillo 1       Hermosillo    Residential

       Store_Open_Date      Product_Name   Product_Category Product_Cost  \
0           2010-07-31  Chutes & Ladders              Games       $9.99
1           2011-04-01     Action Figure               Toys       $9.99
2           2003-12-13     Deck Of Cards              Games       $3.99
3           2016-03-23          Dart Gun  Sports & Outdoors      $11.99
4           2014-12-27       Lego Bricks               Toys      $34.99
...                ...               ...                ...          ...
829257      2010-07-31        Magic Sand       Art & Crafts      $13.99
829258      2007-05-19     Uno Card Game              Games       $3.99
829259      2010-03-29        Magic Sand       Art & Crafts      $13.99
829260      2006-08-30    Animal Figures               Toys       $9.99
829261      2012-08-31         Colorbuds        Electronics       $6.99

       Product_Price  Stock_On_Hand
0            $12.99             1.0
1            $15.99             6.0
2             $6.99            50.0
3            $15.99            28.0
4            $39.99           117.0
...              ...            ...
829257       $15.99            67.0
829258        $7.99             6.0
829259       $15.99            17.0
829260       $12.99             2.0
829261       $14.99            65.0

[829262 rows x 14 columns]>