# Hendrick Cardoso 21BDA20

# Python Revision

In [1]:
1

1

In [2]:
type(1)

int

In [3]:
type(1.2)

float

In [4]:
type("1.1")

str

In [5]:
type(" ")

str

In [6]:
type(False)

bool

In [7]:
a=[3,6,9]
a

[3, 6, 9]

In [8]:
[a,a,a]

[[3, 6, 9], [3, 6, 9], [3, 6, 9]]

In [9]:
a*2

[3, 6, 9, 3, 6, 9]

In [10]:
"strings"

'strings'

In [11]:
'strings'

'strings'

In [12]:
type(None)

NoneType

In [16]:
a='What'

In [19]:
a!='Whatevs'

False

In [20]:
b=2,
type(b)

tuple

In [22]:
c=(1,5)
type(c)

tuple

In [23]:
list1=[1,5,10,15]
list1

[1, 5, 10, 15]

In [24]:
list1[1]

5

In [25]:
list1[-1]

15

In [26]:
list1[1:3]

[5, 10]

In [27]:
list1[-3:-1]

[5, 10]

In [28]:
list1[-1:-3:-1]

[15, 10]

In [30]:
marks = [10, 20, 30, 50, 75, 90, 95]
marks

[10, 20, 30, 50, 75, 90, 95]

In [31]:
marks[-1]

95

In [32]:
pass_mark = 50

In [33]:
if marks[-1]<pass_mark:
    print("fail")
else:
    print("Pass")

Pass

In [34]:
for i in range(5):
    print("Peace")

Peace
Peace
Peace
Peace
Peace

In [35]:
for i in range(len(marks)):
    print(marks[i]+2)

12
22
32
52
77
92
97

In [36]:
for mark in marks:
    print(mark)  
    if mark<pass_mark:
        print("Fail")
    else: 
        print("Pass")
    print("------------------")

10
Fail
------------------
20
Fail
------------------
30
Fail
------------------
50
Pass
------------------
75
Pass
------------------
90
Pass
------------------
95
Pass
------------------

In [37]:
for mark in marks:
    print(mark)  
    if(mark<pass_mark)&(mark>20):
        print("grace")
    elif(mark<pass_mark)&(mark<=20):
        print("fail")
    else: 
        print("pass")
    print("------------------")

10
fail
------------------
20
fail
------------------
30
grace
------------------
50
pass
------------------
75
pass
------------------
90
pass
------------------
95
pass
------------------

In [38]:
range(10)

range(0, 10)

In [39]:
x = range(2, 20, 5)
for n in x:
    print(n)

2
7
12
17

In [40]:
def fsum(a, b):
    return a+b

In [41]:
fsum(20,30)

50

In [42]:
def fdiff(num1 = 0, num2 = 0):
    print(num1)
    return num1-num2

In [43]:
diff=fdiff(2,1)
print(diff)

2
1

Pandas - DataFrame Series

In [45]:
import pandas as pd
import numpy as np

In [46]:
marks

[10, 20, 30, 50, 75, 90, 95]

In [47]:
marks_series = pd.Series(marks)
marks_series

0    10
1    20
2    30
3    50
4    75
5    90
6    95
dtype: int64

In [48]:
type(marks_series)

pandas.core.series.Series

In [49]:
marks_series.index

RangeIndex(start=0, stop=7, step=1)

In [50]:
marks_series.values

array([10, 20, 30, 50, 75, 90, 95], dtype=int64)

In [51]:
marks_series[3:5]

3    50
4    75
dtype: int64

In [52]:
marks_series[5] = None

In [54]:
marks_series

0    10.0
1    20.0
2    30.0
3    50.0
4    75.0
5     NaN
6    95.0
dtype: float64

In [55]:
marks_series.value_counts()

30.0    1
20.0    1
10.0    1
50.0    1
95.0    1
75.0    1
dtype: int64

In [56]:
marks_series.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [58]:
df1 = pd.DataFrame([marks, marks])
df1

    0   1   2   3   4   5   6
0  10  20  30  50  75  90  95
1  10  20  30  50  75  90  95

In [59]:
df2 = pd.DataFrame([marks, marks]).T
df2

    0   1
0  10  10
1  20  20
2  30  30
3  50  50
4  75  75
5  90  90
6  95  95

In [61]:
df2.columns = ['marks01', 'marks02']
df2

   marks01  marks02
0       10       10
1       20       20
2       30       30
3       50       50
4       75       75
5       90       90
6       95       95

In [62]:
dict = {'a':1,'b':2,'c':3}
dict

{'a': 1, 'b': 2, 'c': 3}

In [63]:
type(dict)

dict