# Geethu Sunny - 21BDA03

# QUESTION 1

In [ ]:
a = [0,1,-6,8,-10,0,5,2]

In [ ]:
for i in a:
    if i==0:
        print("Zero")
    elif i>0:
        print("Positive Number")
    else:
        print("Negative Number")

# QUESTION 2

In [ ]:
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
def divide(a,b):
    return a/b
def multiply(a,b):
    return a*b
def modulus(a,b):
    return a%b

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
sum_of = add(num1,num2)
difference_of = subtract(num1,num2)
product_of = multiply(num1,num2)
quotient_of = divide(num1,num2)
modulus_of = modulus(num1,num2)

print("Sum: ",sum_of)
print("Difference: ",difference_of)
print("Product: ",product_of)
print("Quotient: ",quotient_of)
print("Modulus: ",modulus_of)

# QUESTION 3

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("dataset.csv")

In [15]:
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [5]:
df.shape

(237519, 7)

In [6]:
df.isnull().sum()

State        0
Year         0
Type_code    0
Type         0
Gender       0
Age_group    0
Total        0
dtype: int64

In [12]:
na_values=['Na', 'Not Applicable', 'Null', 'Not applicable']

In [8]:
df_na = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', na_values=na_values)

In [13]:
df_na

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df_na.isnull()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df_na.isnull().sum()

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

The dataset has no missing values.

In [ ]:
df2 = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00383/risk_factors_cervical_cancer.csv")

In [ ]:
df2

In [ ]:
df2.isnull().sum()

In [ ]:
na_values=['Na', 'Not Applicable', 'Null', 'Not applicable','?']

In [ ]:
df_na = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00383/risk_factors_cervical_cancer.csv', na_values=na_values)

In [ ]:
df_na.isnull().sum()

In [ ]:
df_na.fillna(df_na.mean(), inplace=True)

In [ ]:
df_na.isnull().sum()

# QUESTION 4

In [ ]:
df3 = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data")

In [ ]:
df3.head()

In [ ]:
df3.tail()

In [ ]:
df3['premeno']

In [ ]:
df3['no']

In [ ]:
cols = ['no-recurrence-events','left','left_low']

In [ ]:
df3[cols]

In [ ]:
df3.iloc[1:5]

In [ ]:
df3.iloc[1:5,1:3]

In [ ]:
df3.iloc[1:7:2]

In [ ]:
df3.iloc[-1]

In [ ]:
df3.iloc[[1,10,100]]

In [ ]:
df3.iloc[0:5, [0, 3, 5]]

In [ ]:
df3.iloc[:5:2, 1::3]

In [ ]:
df4 = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data")

In [ ]:
df4.head()

In [ ]:
df4.corr()

There is a perfect correlation between Frequency and Monetary. Time & Frequency and Time & Monetary has fairly high positive correlation of 0.63490.

# QUESTION 5

Yes,the strength of the relationship between 2 categorical variables can be measured using a Chi-square test.

#CROSS TABULATION BETWEEN var1 AND var2

CrosstabResult=pd.crosstab(index=df['var1'],columns=df['var2'])
print(CrosstabResult)
 
#IMPORTING THE REQUIRED FUNCTION

from scipy.stats import chi2_contingency
 
#PERFORMING CHI-SQUARE TEST

ChiSqResult = chi2_contingency(CrosstabResult)

 
#P-Value is the Probability of H0 being True

#If P-Value&gt;0.05 then only we Accept the assumption(H0)