### Basic python

In [ ]:
#boolean(T, F)

In [ ]:
#comparison operators(==, !=, >, <, >=, <=)

In [2]:
2==3

False

In [3]:
2!=3

True

In [4]:
2>3

False

In [ ]:
#if statement

In [ ]:
num = 7
if num > 3:
    print("num greater than 3")
else:
    print("num lesser than 3")

In [ ]:
#if - else

In [ ]:
num = 7
if num == 5:
    print("Yes")
else:
    print("No")

In [ ]:
#if -elif- else

In [ ]:
num = 7
if num == 1:
    print("one")
elif num == 2:
    print("two")    
else:
    print("three")

In [ ]:
#While loop

In [6]:
i = 1
while i <= 5:
    print(i)
    i = i+1
    print("finished")

1
finished
2
finished
3
finished
4
finished
5
finished

In [7]:
#while break

i = 0
while True:
    print(i)
    i = i+1
    if i>=5:
        print("break")
        break
    print("finished")

0
finished
1
finished
2
finished
3
finished
4
break

In [8]:
#continue

i=1
while i<=5:
    print(i)
    i+=1
    if i==3:
        print("skipping")
        continue

1
2
skipping
3
4
5

In [ ]:
#for loop

In [ ]:
for i in range(7):
    print (i)

In [9]:
#string
a = "hello"
print(a[3])

l

In [13]:
type(a)

str

In [10]:
#list
b = [1,2,3,4,5,6]
b[0]

1

In [14]:
type(b)

list

In [11]:
#range

list(range(0,10,2))

[0, 2, 4, 6, 8]

In [12]:
range(10)

range(0, 10)

In [8]:
#dictionary

dict = {'name':'veena','age':23,'hobby':'dancing'}
dict['age']

23

In [1]:
#function
def hello():
    print("hello")

In [3]:
hello()

hello

In [5]:
def add(num1,num2):
    sum = num1 + num2
    return sum

#calling a function
add(234,456)

690

## PYTHON FOR DATASCIENCE

### Numpy

In [37]:
import numpy as np

In [38]:
num = np.array([1,2,3])
num

array([1, 2, 3])

In [39]:
num.dtype

dtype('int32')

In [40]:
num[0]

1

In [41]:
num[1:2]

array([2])

In [ ]:
#attributes on ndarray

In [43]:
num.ndim

1

In [44]:
num.shape

(3,)

In [46]:
num.size

3

In [51]:
num.max()

3

In [52]:
num.tolist()

[1, 2, 3]

In [53]:
num.sum()

6

### Pandas

In [9]:
import pandas as pd

#### SERIES

In [25]:
marks = [80,89,79,90,95]

In [28]:
scorecard = pd.Series(marks)
scorecard

0    80
1    89
2    79
3    90
4    95
dtype: int64

In [29]:
scorecard.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
scorecard.values

array([80, 89, 79, 90, 95], dtype=int64)

In [31]:
scorecard[7] = None

In [32]:
scorecard

0      80
1      89
2      79
3      90
4      95
7    None
dtype: object

In [33]:
scorecard[6]=97

In [34]:
scorecard

0      80
1      89
2      79
3      90
4      95
7    None
6      97
dtype: object

In [36]:
scorecard.value_counts()

80    1
89    1
79    1
90    1
95    1
97    1
dtype: int64

### DATAFRAME

In [18]:
data = {'order' : [1,2,3,4,5,6],'bill':[200,300,389,400,470,100]}

In [19]:
df = pd.DataFrame(data = data)
df

   order  bill
0      1   200
1      2   300
2      3   389
3      4   400
4      5   470
5      6   100

In [20]:
df.head()

   order  bill
0      1   200
1      2   300
2      3   389
3      4   400
4      5   470

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   6 non-null      int64
 1   bill    6 non-null      int64
dtypes: int64(2)
memory usage: 224.0 bytes

In [23]:
df.shape

(6, 2)

In [24]:
df.bill

0    200
1    300
2    389
3    400
4    470
5    100
Name: bill, dtype: int64

In [ ]:
#reading csv file

In [78]:
df1 = pd.read_csv("Sample_Superstore.csv",encoding = 'windows-1254')
df1

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [79]:
df1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [83]:
df1.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [87]:
df1.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [85]:
df1.nunique()

order    6
bill     6
dtype: int64

In [89]:
df2 = pd.read_csv("C:/Users/Deepak K/Desktop/Pre Q/Plant_1_Generation_Data.csv")
df2

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0
...,...,...,...,...,...,...,...
68773,17-06-2020 23:45,4135001,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0
68774,17-06-2020 23:45,4135001,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0
68775,17-06-2020 23:45,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0
68776,17-06-2020 23:45,4135001,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0
68777,17-06-2020 23:45,4135001,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0

In [90]:
df2.isnull().sum()

DATE_TIME      0
PLANT_ID       0
SOURCE_KEY     0
DC_POWER       0
AC_POWER       0
DAILY_YIELD    0
TOTAL_YIELD    0
dtype: int64

In [96]:
df3 = pd.read_csv("C:/Users/Deepak K/Downloads/test_data_cleaning.csv")
df3.head(20)

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about # earthquake is different cities,..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting . # Spokane # wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
5,12,NaN,NaN,We are shaking . It is an earthquake
6,21,NaN,NaN,They ' d probably still show more life than Ar...
7,22,NaN,NaN,Hey ! How are you ?
8,27,NaN,NaN,What a nice hat ?
9,29,NaN,NaN,Fuck off !
10,30,NaN,NaN,No I do not like cold !
11,35,NaN,NaN,NOOOOOOOOO ! do not do that !
12,42,NaN,NaN,No do not tell me that !
13,43,NaN,NaN,What if ? !
14,45,NaN,NaN,Awesome !
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@ sunkxssedharry will you wear shorts for rac...
17,51,ablaze,NIGERIA,# PreviouslyOnDoyinTv : Toke Makinwas marria...
18,58,ablaze,Live On Webcam,Check these out : # nsfw
19,60,ablaze,"Los Angeles, Califnordia",PSA : Im splitting my personalities . \n\n ? ...

In [97]:
df3

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about # earthquake is different cities,..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting . # Spokane # wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES SAFETY FASTENER...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane . My ci...
3260,10868,NaN,NaN,Green Line derailment in Chicago
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook ( HWO )
3262,10875,NaN,NaN,# City of Calgary has activated its Municipal...

In [93]:
df3.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [95]:
df3.dropna()

,id,keyword,location,text
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@ sunkxssedharry will you wear shorts for rac...
17,51,ablaze,NIGERIA,# PreviouslyOnDoyinTv : Toke Makinwas marria...
18,58,ablaze,Live On Webcam,Check these out : # nsfw
19,60,ablaze,"Los Angeles, Califnordia",PSA : Im splitting my personalities . \n\n ? ...
...,...,...,...,...
3246,10804,wrecked,Love Reiss,@ yakubOObs think he deactivated because his ...
3247,10806,wrecked,Seattle Washington,RT CNBC ' 3 words from Disney CEO Bob Iger wr...
3248,10807,wrecked,Acey mountain islanddåÇTorontoåÈ,Smackdown tyme this should put me in a good mo...
3249,10816,wrecked,los angeles,@ thrillhho jsyk I have not stopped thinking ...
3250,10820,wrecked,"Brussels, Belgium",@ Sam Tighe Begovic has been garbage . He go...

In [100]:
df4 = pd.read_csv("C:/Users/Deepak K/Downloads/possum.csv")
df4.head(20)

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
6,7,1,Vic,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
7,8,1,Vic,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,10,1,Vic,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0
10,11,1,Vic,f,9.0,93.3,57.2,89.5,39.0,77.2,51.3,14.9,31.0,34.0
11,12,1,Vic,f,5.0,94.9,55.6,92.0,35.5,71.7,51.0,15.3,28.0,33.0
12,13,1,Vic,m,5.0,95.1,59.9,89.5,36.0,71.0,49.8,15.8,27.0,32.0
13,14,1,Vic,m,3.0,95.4,57.6,91.5,36.0,74.3,53.7,15.1,28.0,31.5
14,15,1,Vic,m,5.0,92.9,57.6,85.5,34.0,69.7,51.8,15.7,28.0,35.0
15,16,1,Vic,m,4.0,91.6,56.0,86.0,34.5,73.0,51.4,14.4,28.0,32.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0
17,18,1,Vic,m,2.0,93.5,55.7,90.0,36.0,73.7,55.4,15.3,28.0,32.0
18,19,1,Vic,f,5.0,94.4,55.4,90.5,35.0,73.4,53.9,15.2,28.0,32.0
19,20,1,Vic,f,4.0,94.8,56.3,89.0,38.0,73.8,52.4,15.5,27.0,36.0

In [101]:
df4.isnull().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [102]:
data = df4.fillna(df4.mean())

C:\Users\Deepak K\AppData\Local\Temp\ipykernel_22956\880448105.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data = df4.fillna(df4.mean())

In [103]:
data

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [104]:
data.isnull().sum()

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64