# ML 1 LAB 01   16-04-2022

21BDA10 - Aishwarya C S

Python datatype and data structures

In [1]:
a = 10
b = 23.6
c = 'good'
d = 2+5j

In [2]:
type(a)

int

In [3]:
type(b)

float

In [4]:
type(c)

str

In [5]:
type(d)

complex

In [6]:
type(True)

bool

In [7]:
list1 = [25 ,35,89,41]
type(list1)

list

In [8]:
tup1 = ('apple','banana','grapes')
type(tup1)

tuple

In [9]:
dict1 = {'A':10 , 'S':20 ,'D':30}
type(dict1)

dict

#  Slicing method

In [10]:
list2 = [' Delhi','Goa','Bangalore','Mangalore']
list2[0]

' Delhi'

In [11]:
list2[2]

'Bangalore'

# For Loop

In [12]:
for i in range(0 , 11 ,2):
    print(i)
print('Done!!!')

0
2
4
6
8
10
Done!!!

In [13]:
for i in list2:
    print(i)
print('Done!!!')

 Delhi
Goa
Bangalore
Mangalore
Done!!!

# If - Else ladder

In [14]:
for i in range(0,6,1):
    if i%2 == 0:
        print(i)
        print("Even number!!")
        print('---------------------')
    else:
        print(i)
        print("Odd Number!!!")
        print('---------------------')

0
Even number!!
---------------------
1
Odd Number!!!
---------------------
2
Even number!!
---------------------
3
Odd Number!!!
---------------------
4
Even number!!
---------------------
5
Odd Number!!!
---------------------

In [15]:
if 'a' in "apple":
    print("Present!!")
else:
    print("Not Present!!")

Present!!

# Functions

In [16]:
def greet(name):
    print('Hey' , name)
    print('Good Morning')
greet('Aishwarya')

Hey Aishwarya
Good Morning

In [17]:
def sumof(a,b):
    return a+b
sumof(8,41)

49

# Using Numpy and Pandas

In [18]:
import pandas as pd
import numpy as np
import random

In [19]:
random1 = np.random.randint(0 , 11 , 6)

In [20]:
random1

array([ 9, 10,  5,  9,  1, 10])

In [21]:
type(random1)

numpy.ndarray

In [22]:
random2 = pd.Series(random1)

In [23]:
random2

0     9
1    10
2     5
3     9
4     1
5    10
dtype: int32

In [24]:
type(random2)

pandas.core.series.Series

In [25]:
random2.values

array([ 9, 10,  5,  9,  1, 10])

In [26]:
random2.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
random2.value_counts()

9     2
10    2
1     1
5     1
dtype: int64

In [28]:
df1 = pd.DataFrame([np.random.randint(0,25,10) , np.random.randint(50, 100,10)]).T

In [29]:
df1

    0   1
0  22  86
1  24  79
2  15  58
3   0  99
4   8  66
5  11  74
6   7  97
7   6  94
8  16  60
9  23  72

In [30]:
type(df1)

pandas.core.frame.DataFrame

In [31]:
df1.columns = ['Num_1' , 'Num_2']

In [32]:
df1

   Num_1  Num_2
0     22     86
1     24     79
2     15     58
3      0     99
4      8     66
5     11     74
6      7     97
7      6     94
8     16     60
9     23     72