### MACHINE LEARNING LAB 
### BD2P3
### Roll No: 21BDA52

# introduction

## loops

In [1]:
#Range is a function
for i in range(5):
    print (i**2)

0
1
4
9
16

In [2]:
#In Python, we can use the item itself to iterate. Indexing is not required. 
marks = [76,45,15,57,23,98]

In [3]:
#conventional way
for i in range(len(marks)):
    print (marks[i])

76
45
15
57
23
98

In [4]:
#Python specific way
for mark in marks:
    print (mark)

76
45
15
57
23
98

In [5]:
pass_mark=28

In [6]:
for mark in marks:
    if mark<pass_mark and mark>20:
        print("Grace Marks Awarded")
    elif mark<pass_mark:
        print("Fail")
    else:
        print("Pass")
print("_______________")

Pass
Pass
Fail
Pass
Grace Marks Awarded
Pass
_______________

Dictionary

In [8]:
l1 = list("RAINBOW")
l1

['R', 'A', 'I', 'N', 'B', 'O', 'W']

Functions

In [9]:
def sum_of(a,b):
    return(a+b)

In [11]:
sum_of(63,56)

119

In [12]:
def diff_of(fno=0,sco=0):
    return(fno-sco)

Packages in Python for Data Science

In [13]:
#Pandas, Numpy, Scipy, Matplotlib, Sklearn
#Scikit

Working with Pandas

In [14]:
import pandas as pd
#we use alias to make further coding easy
#Pandas handles rows and columns
#Two kinds of data structures: series and dataframes
#Series are one dimensional
#Dataframes are two dimensional

In [15]:
marks_series=pd.Series([45,12,34,87,23,78])

In [17]:
marks_series.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
marks_series.values

array([45, 12, 34, 87, 23, 78], dtype=int64)

In [19]:
marks_series[:4]

0    45
1    12
2    34
3    87
dtype: int64

In [20]:
marks_series[5:]=45

In [21]:
marks_series

0    45
1    12
2    34
3    87
4    23
5    45
dtype: int64

In [22]:
marks_series.value_counts()

45    2
34    1
12    1
23    1
87    1
dtype: int64

In [23]:
df1 = pd.DataFrame(marks)

In [24]:
df1

    0
0  76
1  45
2  15
3  57
4  23
5  98

In [25]:
df1.T

    0   1   2   3   4   5
0  76  45  15  57  23  98

In [26]:
df1.columns=['Col1']
df1

   Col1
0    76
1    45
2    15
3    57
4    23
5    98

In [57]:
import pandas as pd
df2 = pd.read_csv(r"C:\Users\Srinivasa\Downloads\newbla.csv")

In [58]:
df2

,REF,Company,Location,Review_Date,Bean_Origin,Bar_Name,Cocoa_%,Enc_ingr,Characteristics,Rating,ingri
0,2644,Fresco,U.S.A.,2021,Venezuela,"Chuao Village, BR-SC, batch 21-437",68.0,6,"robust cocoa, dried cranberry",4.00,"3- B,S,C"
1,2644,Fresco,U.S.A.,2021,Nicaragua,"O'Payo Profundo, Waslala, DR-LC, #271, b. 21-433",70.0,6,"rich chocolate, late spice notes",3.75,"3- B,S,C"
2,2704,Fresco,U.S.A.,2021,Madagascar,"Sambirano V., #290, MR MC, batch 21-454",70.0,6,"raspberry, mild sour, cocoa",3.50,"3- B,S,C"
3,2644,Fresco,U.S.A.,2021,Nicaragua,"O'Payo Profundo, Waslala, MR-MC, #271, b. 21-431",70.0,6,"oily, black licorice, spicey",3.50,"3- B,S,C"
4,2642,Fresco,U.S.A.,2021,Ghana,"ABOCFA, #261, DR-MC, batch 21-448",68.0,6,"fudgey, spicey, nutty",3.50,"3- B,S,C"
...,...,...,...,...,...,...,...,...,...,...,...
2438,87,Guittard,U.S.A.,2006,Madagascar,"Sambirano, Ambanja",65.0,18,"creamy, sweet, blueberry",3.50,"5- B,S,C,V,L"
2439,99,Guittard,U.S.A.,2006,Blend,Semisweet,61.0,18,"fatty, cocoa, fruity",3.00,"5- B,S,C,V,L"
2440,15,Guittard,U.S.A.,2006,Colombia,Chucuri,65.0,18,"creamy, sweet, floral, vanilla",3.00,"5- B,S,C,V,L"
2441,87,Guittard,U.S.A.,2006,Venezuela,Sur del Lago,65.0,18,"sweet, creamy, vanilla",2.50,"5- B,S,C,V,L"
2442,15,Green & Black's (ICAM),U.K.,2006,Blend,Dark,70.0,18,"mildly rich, basic, roasty",2.50,"5- B,S,C,V,L"

In [61]:
df2.head(10)

,REF,Company,Location,Review_Date,Bean_Origin,Bar_Name,Cocoa_%,Enc_ingr,Characteristics,Rating,ingri
0,2644,Fresco,U.S.A.,2021,Venezuela,"Chuao Village, BR-SC, batch 21-437",68.0,6,"robust cocoa, dried cranberry",4.00,"3- B,S,C"
1,2644,Fresco,U.S.A.,2021,Nicaragua,"O'Payo Profundo, Waslala, DR-LC, #271, b. 21-433",70.0,6,"rich chocolate, late spice notes",3.75,"3- B,S,C"
2,2704,Fresco,U.S.A.,2021,Madagascar,"Sambirano V., #290, MR MC, batch 21-454",70.0,6,"raspberry, mild sour, cocoa",3.50,"3- B,S,C"
3,2644,Fresco,U.S.A.,2021,Nicaragua,"O'Payo Profundo, Waslala, MR-MC, #271, b. 21-431",70.0,6,"oily, black licorice, spicey",3.50,"3- B,S,C"
4,2642,Fresco,U.S.A.,2021,Ghana,"ABOCFA, #261, DR-MC, batch 21-448",68.0,6,"fudgey, spicey, nutty",3.50,"3- B,S,C"
5,2708,Fresco,U.S.A.,2021,Peru,"Lamas, Oro Verde, #282, DR MC, batch 21-451",74.0,6,"spicey, herbal, ripe, sl. burnt",3.25,"3- B,S,C"
6,2642,Fresco,U.S.A.,2021,Ghana,"ABOCFA, #260, LR-SC, batch 20-335",68.0,6,"coconut, high astringency",3.25,"3- B,S,C"
7,2708,Fresco,U.S.A.,2021,Peru,"Lamas, Oro Verde, #280, MR 0C, batch 21-457",74.0,6,"licorice, caramel, floral, dirty",3.00,"3- B,S,C"
8,2712,Fossa,Singapore,2021,Malaysia,"Semai Community, Kamping Long B, Pahang",72.0,2,"dairy, cocoa, mild sour",3.50,"2- B,S"
9,2712,Fossa,Singapore,2021,Indonesia,"Burang, Popayato-Paquat microlot, Goranulo Pro...",72.0,2,"dried fruit (fig), black licorice",3.50,"2- B,S"

In [62]:
df2.shape

(2443, 11)

In [63]:
df2.isna().sum()

REF                0
Company            0
Location           0
Review_Date        0
Bean_Origin        0
Bar_Name           0
Cocoa_%            0
Enc_ingr           0
Characteristics    0
Rating             0
ingri              0
dtype: int64

In [65]:
len(marks)

6

In [66]:
name="Exotic"
lname=list(name)
new_dict={"Name":lname,"Values":marks}

In [67]:
new_df=pd.DataFrame(new_dict)

In [68]:
new_df

  Name  Values
0    E      76
1    x      45
2    o      15
3    t      57
4    i      23
5    c      98

In [70]:
df2.corr()

                  REF  Review_Date   Cocoa_%  Enc_ingr    Rating
REF          1.000000     0.993091  0.047576 -0.382096  0.085569
Review_Date  0.993091     1.000000  0.048043 -0.389441  0.087774
Cocoa_%      0.047576     0.048043  1.000000 -0.177415 -0.077173
Enc_ingr    -0.382096    -0.389441 -0.177415  1.000000 -0.124022
Rating       0.085569     0.087774 -0.077173 -0.124022  1.000000

In [71]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2443 entries, 0 to 2442
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   REF              2443 non-null   int64
 1   Company          2443 non-null   object
 2   Location         2443 non-null   object
 3   Review_Date      2443 non-null   int64
 4   Bean_Origin      2443 non-null   object
 5   Bar_Name         2443 non-null   object
 6   Cocoa_%          2443 non-null   float64
 7   Enc_ingr         2443 non-null   int64
 8   Characteristics  2443 non-null   object
 9   Rating           2443 non-null   float64
 10  ingri            2443 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 210.1+ KB

In [72]:
df2.describe()

               REF  Review_Date      Cocoa_%     Enc_ingr      Rating
count  2443.000000  2443.000000  2443.000000  2443.000000  2443.00000
mean   1451.520262  2014.485878    71.496725     7.160868     3.21009
std     755.521714     3.957507     5.156974     5.122407     0.42837
min       5.000000  2006.000000    42.000000     0.000000     1.00000
25%     833.000000  2012.000000    70.000000     2.000000     3.00000
50%    1474.000000  2015.000000    70.000000     6.000000     3.25000
75%    2100.000000  2018.000000    74.000000    13.000000     3.50000
max    2712.000000  2021.000000   100.000000    20.000000     4.00000