#### Lists

In [1]:
a = ['p','q','r']

In [2]:
b = [a,a] #nested list

In [3]:
b

[['p', 'q', 'r'], ['p', 'q', 'r']]

In [4]:
# Empty List

l = list()
l

[]

In [5]:
type(l)

list

### Operators

In [6]:
c = 4+5

c

9

In [7]:
type(c)

int

In [9]:
d = '4'+'5'
d

'45'

In [10]:
type(d)

str

In [13]:
f = 20.55
f
type(f)

float

In [14]:
h = "hello" # here we assign or store

In [15]:
h == "hello" # returns true/false

True

### Tuple

In [16]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [17]:
type(my_tuple)

tuple

In [18]:
print(my_tuple[-1])

3.4

In [19]:
print(my_tuple[0])

1

In [20]:
marks = [96,45,67,89,45,44,100]

In [21]:
pass_mark = 45

In [22]:
marks[-1] > pass_mark

True

#### If else

In [24]:
if marks[4] > pass_mark:
    print("congratulations")
else:
    print("Keep going,You can do it")

Keep going,You can do it

#### For loop

#### Type 1

In [29]:
for i in range(10,45,5):
    print(i)

10
15
20
25
30
35
40

In [31]:
for i in range(len(marks)):
    print(i) #okay vaish this just gives the index, rather len of list use marks[i]

0
1
2
3
4
5
6

In [32]:
for i in range(len(marks)):
    print(marks[i])

96
45
67
89
45
44
100

#### Type 2

In [37]:
pass_mark = 60

In [38]:
for mark in marks:
    print(mark)
    if mark<pass_mark:
        print("Try again!")
    else:
        print("Hurrah!!,you did it")

96
Hurrah!!,you did it
45
Try again!
67
Hurrah!!,you did it
89
Hurrah!!,you did it
45
Try again!
44
Try again!
100
Hurrah!!,you did it

#### range() funcion

In [40]:
range(7)

range(0, 7)

In [41]:
x = range(3, 20, 3)
for n in x:
    print(n)

3
6
9
12
15
18

#### User Defined Function

In [42]:
def sum_num(a,b):
    s = a+b
    print(s)

In [43]:
sum_num(4,5)

9

In [44]:
#give default arguments

In [45]:
def sum_num(a=0,b=0):
    s = a+b
    print(s)

In [46]:
sum_num(6)

6

#### Pandas

In [47]:
import pandas as pd 
import numpy as np

In [48]:
s1 = pd.Series([4, 7, -5, 3, -8, 0, 9, 3])
s1

0    4
1    7
2   -5
3    3
4   -8
5    0
6    9
7    3
dtype: int64

In [49]:
type(s1)

pandas.core.series.Series

In [50]:
s1.value_counts()

 3    2
 4    1
 7    1
-5    1
-8    1
 0    1
 9    1
dtype: int64

In [51]:
type(s1.value_counts())

pandas.core.series.Series

In [52]:
s1.value_counts().index

Int64Index([3, 4, 7, -5, -8, 0, 9], dtype='int64')

In [53]:
s1.value_counts().values

array([2, 1, 1, 1, 1, 1, 1], dtype=int64)

In [54]:
s1.value_counts(sort=False)

 4    1
 7    1
-5    1
 3    2
-8    1
 0    1
 9    1
dtype: int64

In [55]:
s1[0]

4

In [57]:
s1[4:]

4   -8
5    0
6    9
7    3
dtype: int64

In [58]:
s1[:3]

0    4
1    7
2   -5
dtype: int64

In [59]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [60]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [61]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [62]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [64]:
df['Iris-setosa'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [65]:
df['Iris-setosa'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: Iris-setosa, dtype: int64

In [67]:
df.shape

(149, 5)

In [68]:
df.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [69]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [70]:
# df using dict
data = {'state': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003, 2000, 2001],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2, 1.2, 3.5]}

In [72]:
df1 = pd.DataFrame(data=data)

In [73]:
df1

  state  year  pop
0     A  2000  1.5
1     B  2001  1.7
2     C  2002  3.6
3     D  2001  2.4
4     E  2002  2.9
5     F  2003  3.2
6     G  2000  1.2
7     H  2001  3.5

In [74]:
df.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000

In [75]:
df1.describe()

              year       pop
count     8.000000  8.000000
mean   2001.250000  2.500000
std       1.035098  0.941124
min    2000.000000  1.200000
25%    2000.750000  1.650000
50%    2001.000000  2.650000
75%    2002.000000  3.275000
max    2003.000000  3.600000

In [76]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000