#### Ashly Thampi 21BDA19

PYTHON REVISION NOTEBOOK

In [122]:
67

67

In [2]:
'Paris'

'Paris'

In [3]:
x=[6,8]

In [4]:
[x,x]

[[6, 8], [6, 8]]

In [5]:
1+1

2

In [6]:
'3'+'3'

'33'

In [8]:
type('@')

str

In [10]:
type(4.0)

float

In [11]:
j=2

In [12]:
j==3

False

In [13]:
j==2

True

In [14]:
t=(5,9)

In [15]:
type(t)

tuple

In [16]:
l=[5,7]

In [17]:
type(l)

list

In [90]:
weight=[55,56,57,58,59]

In [91]:
ideal_weight = 57

In [92]:
weight[0]<ideal_weight

True

In [93]:
if weight[0]<ideal_weight:
    print("Healthy")

Healthy

In [94]:
weight[-3]

57

In [95]:
for i in range(3):
    print("Pasta")

Pasta
Pasta
Pasta

In [96]:
for i in range(len(weight)):
    print(weight[i]+5)

60
61
62
63
64

In [97]:
for weight in weight:
    print(weight)  
    if weight<ideal_weight:
        print("Healthy")
    else: 
        print("Obes")
    print("------------------")

55
Healthy
------------------
56
Healthy
------------------
57
Obes
------------------
58
Obes
------------------
59
Obes
------------------

In [98]:
range(9)

range(0, 9)

In [99]:
x = range(0, 50, 10)
for n in x:
    print(n)

0
10
20
30
40

In [100]:
def fsum(a, b):
    return a+b

In [101]:
fsum(10,50)

60

In [102]:
import pandas as pd
import numpy as np

In [104]:
weight=[55,56,57,58,59]

In [105]:
weight

[55, 56, 57, 58, 59]

In [107]:
weight_series = pd.Series(weight)
weight_series

0    55
1    56
2    57
3    58
4    59
dtype: int64

In [108]:
type(weight_series)

pandas.core.series.Series

In [109]:
weight_series.index

RangeIndex(start=0, stop=5, step=1)

In [110]:
weight_series.values

array([55, 56, 57, 58, 59])

In [111]:
weight_series[4:]

4    59
dtype: int64

In [112]:
weight_series[3]=None

In [113]:
weight_series

0    55.0
1    56.0
2    57.0
3     NaN
4    59.0
dtype: float64

In [116]:
weight_series.value_counts()

55.0    1
56.0    1
57.0    1
59.0    1
dtype: int64

In [117]:
weight_series.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [119]:
df = pd.DataFrame([weight, weight])
df

    0   1   2   3   4
0  55  56  57  58  59
1  55  56  57  58  59

In [120]:
df1 = pd.DataFrame([weight, weight]).T
df1

    0   1
0  55  55
1  56  56
2  57  57
3  58  58
4  59  59

In [121]:
df1.columns = ['weight1', 'weight2']
df1

   weight1  weight2
0       55       55
1       56       56
2       57       57
3       58       58
4       59       59