# Arya Chandran - 21BDA34

# REVISION

PYTHON BASICS

In [1]:
1

1

In [2]:
type(1)

int

In [3]:
type(1.1)

float

In [4]:
type("1.1")

str

In [5]:
type("")

str

In [6]:
type(" ")

str

In [8]:
type(False)

bool

In [9]:
a=[1,2,3]

In [10]:
a

[1, 2, 3]

In [11]:
[a,a,a]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [13]:
a*2

[1, 2, 3, 1, 2, 3]

In [14]:
"strings"

'strings'

In [15]:
" "

' '

In [16]:
'strings'

'strings'

In [17]:
None

In [18]:
type(None)

NoneType

In [19]:
a='Whatever'

In [20]:
a=='Whatevs'

False

In [21]:
a!='Whatevs'

True

In [22]:
b=2,

In [23]:
type(b)

tuple

In [24]:
c=(1,5)

In [25]:
type(c)

tuple

In [27]:
list1=[1,5,10,15]

In [28]:
list1

[1, 5, 10, 15]

In [29]:
list1[1]

5

In [30]:
list1[-1]

15

In [31]:
list1[1:3]

[5, 10]

In [32]:
list1[-3:]

[5, 10, 15]

In [34]:
list1[-1:-3]

[]

In [35]:
list1[-3:-1]

[5, 10]

In [36]:
list1[-1:-3:-1]

[15, 10]

In [37]:
marks = [10, 20, 30, 50, 75, 90, 95]

In [42]:
marks[1]

20

In [43]:
marks[-1]

95

In [38]:
pass_mark = 50

In [44]:
if marks[-1]<pass_mark:
    print("fail")
else:
    print("Pass")

Pass

In [45]:
for i in range(5):
    print("Peace")

Peace
Peace
Peace
Peace
Peace

In [47]:
for i in range(len(marks)):
    print(marks[i]+2)

12
22
32
52
77
92
97

In [49]:
for mark in marks:
    print(mark)  
    if mark<pass_mark:
        print("Fail")
    else: 
        print("Pass")
    print("------------------")

10
Fail
------------------
20
Fail
------------------
30
Fail
------------------
50
Pass
------------------
75
Pass
------------------
90
Pass
------------------
95
Pass
------------------

In [50]:
for mark in marks:
    print(mark)  
    if(mark<pass_mark)&(mark>20):
        print("grace")
    elif(mark<pass_mark)&(mark<=20):
        print("fail")
    else: 
        print("pass")
    print("------------------")

10
fail
------------------
20
fail
------------------
30
grace
------------------
50
pass
------------------
75
pass
------------------
90
pass
------------------
95
pass
------------------

In [51]:
range(10)

range(0, 10)

In [53]:
x = range(2, 20, 5)
for n in x:
    print(n)

2
7
12
17

In [55]:
def fsum(a, b):
    return a+b

In [56]:
fsum(20,30)

50

In [58]:
def fdiff(num1 = 0, num2 = 0):
    print(num1)
    return num1-num2

In [60]:
diff=fdiff(2,1)
print(diff)

2
1

PANDAS - DATAFRAME,SERIES

In [61]:
import pandas as pd
import numpy as np

In [62]:
marks

[10, 20, 30, 50, 75, 90, 95]

In [63]:
marks_series = pd.Series(marks)

In [64]:
marks_series

0    10
1    20
2    30
3    50
4    75
5    90
6    95
dtype: int64

In [65]:
type(marks_series)

pandas.core.series.Series

In [66]:
marks_series.index

RangeIndex(start=0, stop=7, step=1)

In [67]:
marks_series.values

array([10, 20, 30, 50, 75, 90, 95])

In [68]:
marks_series[5:]

5    90
6    95
dtype: int64

In [69]:
marks_series[3:5]

3    50
4    75
dtype: int64

In [70]:
marks_series[:2]

0    10
1    20
dtype: int64

In [71]:
marks_series[5] = None

In [72]:
marks_series

0    10.0
1    20.0
2    30.0
3    50.0
4    75.0
5     NaN
6    95.0
dtype: float64

In [73]:
marks_series.value_counts()

10.0    1
20.0    1
30.0    1
50.0    1
75.0    1
95.0    1
dtype: int64

In [74]:
marks_series.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [78]:
df1 = pd.DataFrame([marks, marks])

In [79]:
df1

    0   1   2   3   4   5   6
0  10  20  30  50  75  90  95
1  10  20  30  50  75  90  95

In [80]:
df2 = pd.DataFrame([marks, marks]).T

In [81]:
df2

    0   1
0  10  10
1  20  20
2  30  30
3  50  50
4  75  75
5  90  90
6  95  95

In [83]:
df2.columns = ['marks01', 'marks02']

In [84]:
df2

   marks01  marks02
0       10       10
1       20       20
2       30       30
3       50       50
4       75       75
5       90       90
6       95       95

In [2]:
dict = {'a':1,'b':2,'c':3}

In [3]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [4]:
type(dict)

dict