In [1]:
type(3)

int

In [2]:
type(8.4)

float

In [3]:
type("World")

str

In [4]:
type(False)

bool

In [5]:
type(2j)

complex

In [6]:
type([1,2,3,4,5])

list

In [7]:
type((1,2,3,4,5))

tuple

In [8]:
type({"a": 1, "b": 2})

dict

# Operators and Indexing

In [9]:
sample_list = ['world','me','car','carry']

In [10]:
sample_list[3]

'carry'

In [11]:
sample_list[0]

'world'

In [12]:
sample_list[2]+sample_list[1]  # concatenation

'carme'

In [13]:
1+2

3

# Loops and iterations

In [15]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [16]:
for word in sample_list:
    print(word)

world
me
car
carry

In [17]:
for i in range(len(sample_list)):
    print(sample_list[i])

world
me
car
carry

# if-else statements

In [19]:

if "world" in sample_list:
    print("Yes")
else:
    print("No")

Yes

# Functions

In [22]:
def car_name(car):
    print(car, "is a good car!!")

In [24]:
car_name("Benz")

Benz is a good car!!!!

# Python for DataScience

In [31]:
import pandas as pd
import numpy as np

In [32]:
rano = np.random.randint(12, size = 3)

In [30]:
rano

array([1, 7, 0])

In [33]:
randnum_series = pd.Series(rano)

In [34]:
randnum_series

0    10
1    11
2    11
dtype: int32

In [35]:
randnum_series.index

RangeIndex(start=0, stop=3, step=1)

In [36]:
randnum_series.values

array([10, 11, 11])

In [37]:
randnum_series.value_counts()

11    2
10    1
dtype: int64

In [38]:
sample_df = pd.DataFrame([randnums,randnums]).T

In [39]:
sample_df

   0  1
0  1  1
1  7  7
2  0  0

In [40]:
sample_df.columns = ["randomnum01", "randomnum02"]

In [41]:
sample_df

   randomnum01  randomnum02
0            1            1
1            7            7
2            0            0

   randomnum01  randomnum02
0            1            1
1            7            7
2            0            0