ML1 LAB01 16/04/2022
21BDA42 - Merin

Python Datatypes and Datastructures

In [1]:
type(5)

int

In [2]:
type(5.5)

float

In [3]:
type("Hello")

str

In [4]:
type(True)

bool

In [5]:
type(5j)

complex

In [6]:
type([1,2,3,4,5])

list

In [7]:
type((1,2,3,4,5))

tuple

In [8]:
type({"a": 1, "b": 2})

dict

Operators and Indexing

In [9]:
sample_list = ['hello','hi','cool','me']

In [10]:
sample_list[3]

'me'

In [11]:
sample_list[0]

'hello'

In [12]:
sample_list[2]+sample_list[3]  # concatenation

'coolme'

In [13]:
1+3

4

Loops and iterations

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for word in sample_list:
    print(word)

hello
hi
cool
me

In [16]:
for i in range(len(sample_list)):
    print(sample_list[i])

hello
hi
cool
me

if-else statements

In [17]:
if "hello" in sample_list:
    print("Yes")
else:
    print("No")

Yes

Functions

In [18]:
def foo_coolperson(name):
    print(name, "is a cool person!!!!")

In [19]:
foo_coolperson("Yash")

Yash is a cool person!!!!

Python for DataScience

In [20]:
import pandas as pd
import numpy as np

In [21]:
randnums = np.random.randint(10, size = 10)

In [22]:
randnums

array([4, 9, 1, 8, 7, 9, 5, 5, 9, 2])

In [23]:
randnum_series = pd.Series(randnums)

In [24]:
randnum_series

0    4
1    9
2    1
3    8
4    7
5    9
6    5
7    5
8    9
9    2
dtype: int32

In [25]:
randnum_series.index

RangeIndex(start=0, stop=10, step=1)

In [26]:
randnum_series.values

array([4, 9, 1, 8, 7, 9, 5, 5, 9, 2])

In [27]:
randnum_series.value_counts()

9    3
5    2
1    1
2    1
4    1
7    1
8    1
dtype: int64

In [28]:
sample_df = pd.DataFrame([randnums,randnums]).T
sample_df

   0  1
0  4  4
1  9  9
2  1  1
3  8  8
4  7  7
5  9  9
6  5  5
7  5  5
8  9  9
9  2  2

In [29]:
sample_df.columns = ["randomnum01", "randomnum02"]
sample_df

   randomnum01  randomnum02
0            4            4
1            9            9
2            1            1
3            8            8
4            7            7
5            9            9
6            5            5
7            5            5
8            9            9
9            2            2

In [30]:
df= pd.read_csv("Tetuan City power consumption.csv")

In [31]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [32]:
df.tail()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [34]:
df.DateTime = pd.to_datetime(df.DateTime)

In [35]:
df.shape

(52416, 9)

In [36]:
df.isnull().sum()

DateTime                     0
Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [37]:
df.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [38]:
df["Temperature"].value_counts()

15.180    58
20.760    56
19.790    55
20.740    52
15.850    51
          ..
6.933      1
31.610     1
39.150     1
6.599      1
5.257      1
Name: Temperature, Length: 3437, dtype: int64

In [39]:
df.corr()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
Wind Speed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
general diffuse flows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
diffuse flows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
Zone 1 Power Consumption,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000